<section class="box">
<h2>Signup</h2>

<form action="/auth/signup" method="POST"  enctype="multipart/form-data" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Username">



  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="">
  
  <label for="email"> Email</label>
<<<<<<< HEAD
  <input id="email" type="email" name="email" placeholder="yourname@ironhack.com">
  <br>
  <select name="role" id="role">
=======
  <input id="email" type="email" name="email" placeholder="johnsnow@ironhack.com">

  <label for="role">Who are you?</label>
    <select name="role" id="role">
>>>>>>> 3df97c3ea9572d3fd72db6c29b199f5447a73064
    <option value="RESTAURANT">Restaurant</option>
    <option value="FOODTASTER">Food Taster</option>
  </select>


  <label for="menu">Profile Picture</label>
    <input id="menu" type="file" name="photo" placeholder="" required></article>
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}



  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a class ="link" href="/auth/login">Login</a>
  </p>
</form>
</section>