#searchFood {
  font-size: 110px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 900px;
  border: none;
  border-bottom: 1px grey;
}

#restaurants-title-result{
  text-align: center;
  padding: 30px 0;
}

#searchFood:focus {
	outline: none; 
}

#main-title{
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.bar 	{ 
	position:relative; 
	display:block; 
	width:900px; 
}

.bar:before, .bar:after 	{
  content:'';
  height:5px; 
  width:0;
  position:absolute;
  background:rgb(235, 171, 34); 
  transition:0.2s ease all; 
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

#no-results{
  color: $primary-color;
  font-size: 30px;
}

#sad-face{
  width: 20rem;
  text-align: center;
}

#error-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}