#show-profile-container{
    text-align: center;
}

#show-profile-container img{
    width: 50%;
}

#user-info{
    font-size: 16px;
    padding: 0 20px;
}

#favorite-restaurants{
    padding: 0 20px;
}

#favorite-restaurants li{
    padding: 10px 0px;
}

#profile-picture{
    width: 60%;
}

.profile-box{
    text-align: center;
    width: 20rem;
}