
<div class="about-us-container">
<h2>Hello {{curentUserInfo.username}}, </h2>

<p>We human beings have so many things to worry about every day... </p>
<p>We all love to eat and go out for dinner ...</p>
<p>So we combined those two things:</p>
<p>Finding the coolest restaurants without having to pick a fight with your friends and family...</p>
<p>We help you and all your veggie, gluten-free, lactose-intolerant friends to find the food that they desire the most in a matter of seconds </p>
<p> PS: However, if you are broke or too lazy to go out for dinner like us, we provide you delicious recipes to cook.</p>

<div class="about-us-content">
    <div class="profile">
        <img src="/images/sofia.jpg" alt="">
        <div class="profile-info">
            <h2>Sofi Jordan</h2>
        <a href="https://www.linkedin.com/in/sofia-jordan-11013a180/"><i class="fab fa-linkedin"></i></a>
        </div>
        
    </div>
     <div class="profile">
        <img src="/images/kike.png" alt="">
        <div class="profile-info">
            <h2>Kike Anaya</h2>
        <a href="https://www.linkedin.com/in/enrique-anaya-marin/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>

</div>