
<div class="about-us-container">
<h1>Hello!</h1>

<p>We are Sofia & Kike</p>


<div class="about-us-content">
    <div class="profile">
        <img src="/images/sofia.jpg" alt="">
        <div class="profile-info">
            <h2>Sofi Jordan</h2>
        <a href="https://www.linkedin.com/in/sofia-jordan-11013a180/"><i class="fab fa-linkedin"></i></a>
        </div>
        
    </div>
     <div class="profile">
        <img src="/images/kike.png" alt="">
        <div class="profile-info">
            <h2>Kike Anaya</h2>
        <a href="https://www.linkedin.com/in/enrique-anaya-marin/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>
</div>