<h1>{{title}}</h1>


{{!-- name="searchFood" : is the paramater you use for the req.body --}}
<form action="/" method="POST" id="search-container"> 
  <label for="searchFood"></label>
  <input id="searchFood" type="text" name="searchFood" placeholder="type your fave food "> 
</form>