<h1 id="main-title">{{title}}</h1>
{{#if isUserLoggedIn}}
  <p> Hello {{ currentUserInfo.username }}, </p>
{{/if}}

<form action="/" method="POST" id="search-container"> 
  <label for="searchFood"></label>
  <input id="searchFood" type="text" name="searchFood" autocomplete="off" spellcheck='false' autocorrect='off' placeholder="type your fave food "> 
  <span class="bar"></span>
</form>

<script>
  window.onload = () => {
    document.getElementById('searchFood').focus();
  }
</script>