<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav id="nav-bar">
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
<<<<<<< HEAD
    <a href="/restaurant/show">Restaurants</a>
    {{#if isUserLoggedIn}}
    <a href="/auth/logout">Logout</a>
=======
    <a href="/auth/logout">Logout</a>
    <a href="/restaurant/add">New Restaurant</a>
    <a href="/restaurant/show">Our Restaurants</a>
>>>>>>> 9e87d951b08208e57cc3202c7f5bfd02c99a67e4
    <a href="/profile/users">Foodtaster</a>
    {{/if}}
    {{#if restaurantRole}}
    <a href="/restaurant/add">New Restaurant</a>
    {{/if}}
  </nav>
  {{{body}}}
</body>
</html>