<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
  <nav id="nav-bar">
    <a href="/">Home</a>
    <a href="/about">About us</a>
    <a href="/restaurant/show">Restaurants</a>
    {{#if restaurantRole}}
    <a href="/restaurant/add">New Restaurant</a>
    {{/if}}
    {{#if isUserLoggedIn}}
    <a href="/profile/users">Foodtaster</a>
    <a href="/auth/logout">Logout</a>
    {{else}}
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{/if}}
  </nav>

  <script src="/javascripts/lightbox.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{apiMap}}"></script>
  <script src="/javascripts/script.js"></script>
<main>
  {{{body}}}
</main>
</body>
</html>