<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav>
    <a href="/">Home</a><br>
    <a href="/auth/login">Login</a> <br>
    <a href="/auth/signup">Signup</a> <br>
    <a href="/auth/logout">Logout</a> <br>
    <a href="/restaurant/add">create new Restaurant</a> <br>
     <a href="/restaurant/show">all Restaurants</a> <br>
     <a href="/profile/users">Foodtaster</a> <br>

  </nav>

  {{{body}}}
</body>
</html>