body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f3c527;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  img {
    width: 700px;
  }
  
  a {
    color: black;
    
  }

  main {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }

  // TYPO
  @import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

  body {
    font-family: 'Open Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: $primary-color;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }