/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald");
@import url(vendor/lightbox.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

img {
  width: 700px; }

a {
  color: black; }

main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white; }

body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #00796B; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

button {
  text-transform: uppercase;
  padding: .5rem 5rem;
  background: #00796B;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .2s ease-in-out; }
  button:hover {
    background: #006054; }

#map {
  width: 100%;
  height: 500px; }

#nav-bar {
  padding: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: burlywood;
  height: 3.5rem;
  box-sizing: border-box; }

#nav-bar a {
  text-decoration: none;
  font-size: 20px;
  padding-left: 30px; }
  #nav-bar a:hover {
    color: #006054; }

.box {
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.2);
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
  display: block; }
  .box:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    transform: translate(0, -4px); }
  .box h2 {
    padding: 2rem;
    background: #006054;
    color: white;
    margin-bottom: 2rem;
    font-size: 2.5rem; }
  .box #form-container {
    padding: 2rem; }

#searchFood {
  font-size: 110px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 900px;
  border: none;
  border-bottom: 1px grey; }

#searchFood:focus {
  outline: none; }

#main-title {
  position: absolute;
  bottom: 30px;
  right: 30px; }

.bar {
  position: relative;
  display: block;
  width: 900px; }

.bar:before, .bar:after {
  content: '';
  height: 5px;
  width: 0;
  position: absolute;
  background: #ebab22;
  transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

.full-restaurant {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 50px; }

.restaurant-info {
  width: 45%;
  margin: auto;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center; }

#main-container {
  display: grid;
  max-height: calc(100vh - 3.5rem); }

#restaurant-container {
  display: flex;
  flex-flow: column;
  font-weight: bold;
  grid-column: 1;
  overflow-y: scroll;
  max-height: calc(100vh - 3.5rem);
  text-align: center; }

.restaurant-logo {
  object-fit: cover;
  width: 160vh;
  height: 50vh; }

#restaurant-menu {
  width: 300px; }

#restaurant-name {
  text-align: center;
  padding-top: 20px;
  font-size: 13vh; }

#restaurant-description {
  text-align: center;
  padding: 0 3rem;
  opacity: .6;
  font-style: italic;
  margin-bottom: 2rem;
  letter-spacing: .025rem; }

#info-container {
  display: grid;
  padding: 3rem 8rem 3rem 15rem;
  font-size: 2vh;
  text-align: left; }

#health-label {
  grid-column: 1; }

#contact-info {
  grid-column: 2; }

#food-style {
  text-align: center;
  font-size: 3vh;
  padding: 10px; }

.icons {
  width: 30px;
  padding-right: 15px; }

.checks {
  width: 30px;
  padding-right: 15px; }

#map-container {
  grid-column: 2;
  width: 400px;
  height: 700px; }

#menu-container {
  padding-bottom: 50px; }

#menu-container p {
  padding: 20px;
  background: red; }

#map {
  height: 700px; }

.list-individual {
  padding: 10px 0px; }

#reviews-header {
  padding-bottom: 40px; }

/*# sourceMappingURL=style.css.map */